.bold { font-weight: bold; }

/* Body */
    body {
        background: #0C0C0C;
        color: white;
        font-family: "Courier New", Courier, monospace;
        margin: 0;
    }



/* Header */
    header {
        padding: 0 40px;
        border-bottom: 1px solid #333333;
        margin-bottom: 12px;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
    }

    /* Project name */
        header h1 {
            display: inline-block;
        }

    /* Element wrapper */
        header div {
            padding: 10px;
            display: none;
        }

        @media (min-width: 768px) { header div { display: block;} header h1 { width: 80%; } }

    /* Links */
        header a, header a:visited {
            color: white;
            text-decoration: none;
        }

        header a:hover {
            background: white;
            color: black;
        }

/* Pixi view */
    .pixi-view {
        width: 400px;
        height: 400px;
        cursor: pointer;
        background-color: black;
        border-radius: .25rem;
    }

/* Container */
    .container {
        margin: auto;
        padding: 24px 15px;
        max-width: 100%;
    }

    @media (min-width: 576px) { .container { width: 540px; } }
    @media (min-width: 768px) { .container { width: 720px; } }
    @media (min-width: 992px) { .container { width: 960px; } }
    @media (min-width: 1200px) { .container { width: 1140px; } }

/* App */
    .app {
        margin: 40px 0;
        overflow: auto;
    }

    .app .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    @media (min-width: 960px) { .app .wrapper { flex-direction: row; } }

    /* App configuration */
        .app table td {
            border-collapse: collapse;
            padding: 0px 16px;
            height: 38px;
            width: auto;
        }

        .app.card {
            background-color: #272B2D;
        }

        .app div {
            margin: 20px;
        }

/* Cards */
    .card {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: .25rem;
        overflow: auto;
    }

    .card h3 {
        border-top: none;
        border-radius: calc(-0.75rem) calc(-0.75rem) 0 0;
        font-size: 16px;
        padding: 12px 16px;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        background-color: #242729;
        color: #dde4e8;
    }

/* Pre and code */
    .code pre { margin: 0; }

    .code pre code {
        margin: 0;
        padding: 20px 40px;
        font-family: Source Code Pro,Menlo,monospace;
        tab-size: 4;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 500;
        margin: 0;
        padding: 0;
        background: #282c34;
    }

    .card.code {
        background: #282c34;
        margin-bottom: 40px;
    }

/* Button and inputs */
    select, button, input {
        font-size: 14px;
        font-weight: 400;
        background-color: white;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 6px 10px;
        margin-bottom: 2px;
        min-width: 240px;
        text-align: left;
    }

    select, button {
        -moz-box-sizing: content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
        display: block;
    }

    select:focus, button:focus, input:focus {
        outline: none;
        border: 2px double black;
    }

    [disabled] {
        opacity: 0.5;
    }

/* Links */
    a, a:visited {
        color:white;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: black;
        background-color: white;
    }

/* Summary */
    summary:hover {
        cursor: pointer;
        color: black;
        background-color: white;
    }

    details, summary {
        outline: none;
    }

    details summary::-webkit-details-marker { display:none; }
