<%
//========================================================================
//Affiche la liste des exemples
%>
<% let data = obj %>
<div class="card examples">
    <ul>
        <% data.map(example => { %>
        <li>
            <% if (example.caption) { %> <h3><%= example.caption %></h3> <% } %>
            <pre><code class="javascript"><%= example.code %></code></pre>
        </li>
        <% }) %>
    </ul>
</div>
