<%
//========================================================================
// Affiche le code source
%>
<% let data = obj %>
<section class="source linenums">
    <pre><code class="javascript"><%= data.code %></code></pre>
</section>
